/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}


:root {
  --text-color: #FFFF;
  --transparent-text: rgba(255, 255, 255, 0.6);

  --weather-clear: #3C82D7;

  --sun-yellow: #FFDD00;
  --cloud-white: #FFFF;
  --transparent-white: rgba(255, 255, 255, 0.3);

  --randomRotation: 30deg;
}

body{
  background: var(--weather-clear);
  color: var(--text-color);

  font-family: sans-serif;

  margin: 0;
  padding: 0;
}

main {
  margin: 3%;
}

/* nav */

header {
  margin: 0 10%;
}

header > nav > ul {
  display: flex;
  justify-content: space-between;

  list-style-type: none;
  padding: 0;
}

/* plus icoontje met before after tags */

header > nav > ul > li:nth-of-type(1) a::before{
  content: "";
  background: var(--cloud-white);
  width: .2em;
  height: 1em;
  position: absolute;
}

header > nav > ul > li:nth-of-type(1) a::after{
  content: "";
  background: var(--cloud-white);
  width: .2em;
  height: 1em;
  position: absolute;
  transform: rotate(90deg);
}

/* --- */

/* three dots menu icon */

header > nav > ul > li:nth-of-type(3) a{
  background: var(--cloud-white);
  width: 0.17em;
  height: 0.17em;
  border-radius: 50%;
  position: relative;
  display: flex;
}

header > nav > ul > li:nth-of-type(3) a::before{
  content: "";
  background: var(--cloud-white);
  width: 0.17em;
  height: 0.17em;
  border-radius: 50%;
  position: absolute;
  top:1em;
}

header > nav > ul > li:nth-of-type(3) a::after{
  content: "";
  background: var(--cloud-white);
  width: 0.17em;
  height: 0.17em;
  border-radius: 50%;
  position: absolute;
  top: .5em;
}

/* --- */

/* temperature, cloudiness, AQI */

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6em;
}

.temperature > h1{
  font-size: 8em;
  font-weight: 100;
  margin: 1em 0 0 0;
  position: relative;
}

/* celcius icon */

.temperature > h1::after{
  content: "";
  position: absolute;
  top: .2em;

  width: .08em;
  height: .08em;
  border-radius: 50%;
  border: 3px solid var(--text-color);
}

.temperature > h1::before{
  content: "C";
  position: absolute;
  top: 1.2em;
  font-size: .15em;
  font-weight: 700;
  right: -1.4em;
}

.temperature > p {
  font-size: 1.2em;
  margin: 0;
}

.temperature > a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.8em;
  margin-top: 1em;
  background: var(--transparent-white);
  padding: 0.5em 1em 0.5em 2em;
  border-radius: 5em;
  position: relative;
}

.temperature > a::before {
  content: "";
  background: var(--cloud-white);
  position: absolute;
  width: .8em;
  height: .8em;
  left: .7em;
}

/* --- */

.mainContent {
  text-align: center;
}

/* daily forecast */

.mainContent__forecast {
  margin: 0 1em;
}

.mainContent__forecast > a:nth-of-type(1) {
  text-decoration: none;
  color: var(--text-color);
  font-size: .7em;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-right: .9em;
}

/* arrow behind "More Details" */

.mainContent__forecast > a:nth-of-type(1)::after {
  content: "";
  position: absolute;
  width: .7em;
  height: .7em;
  transform: rotate(45deg);
  right: 0;
  top: .2em;

  border-top: 1px solid var(--cloud-white);
  border-right: 1px solid var(--cloud-white);
}

.mainContent__forecast > table {
  width: 100%;
  line-height: 2em;
  text-align: left;
}

.mainContent__forecast  tr > td:nth-of-type(2) {
  text-align: right;
}

.mainContent__forecast tr > td {
  position: relative;
}

.mainContent__forecast tr > td:first-of-type {
  padding-left: 1.5em;
}

/* weather icons */

.mainContent__forecast tr:nth-of-type(1) > td:first-of-type::before {
  content: "";
  position: absolute;
  background: var(--cloud-white);

  width: .7em;
  height: .7em;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}

.mainContent__forecast tr:nth-of-type(2) > td:first-of-type::before {
  content: "";
  position: absolute;
  background: var(--cloud-white);

  width: .7em;
  height: .7em;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}

.mainContent__forecast tr:nth-of-type(3) > td:first-of-type::before {
  content: "";
  position: absolute;
  background: var(--cloud-white);

  width: .7em;
  height: .7em;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}

.mainContent__forecast > a:nth-of-type(2){
  color: var(--cloud-white);
  text-decoration: none;
  background: var(--transparent-white);
  display: block;
  width: 100%;
  padding: .8em 0;
  border-radius: 5em;

  margin-top: 1em;
}

/* --- */

/* hourly forecast */

.mainContent__hourly > ul {
  display: flex;
  list-style-type: none;
  overflow: scroll;
  padding: 0;
}

.mainContent__hourly > ul > li {
  margin: 0 1em;
} 

.mainContent__hourly > ul > li > p {
  margin: 0;
  line-height: 1.3em;
}

.mainContent__hourly > ul > li > p:first-of-type {
  color: var(--transparent-text);
  font-size: .8em;
}

.mainContent__hourly > ul > li > p:nth-of-type(3) {
  color: var(--transparent-text);
  font-size: .6em;
  position: relative;
  padding-left: 1.3em;
}


.mainContent__hourly__windSpeed {
  display: flex;
}

.mainContent__hourly__windSpeed > img {
  width: .7em;
  height: .7em;
  transform: rotate(var(--randomRotation));
}

.mainContent__hourly__windSpeed p {
  margin: 0 0 0 .5em;
  font-size: .6em;
  color: var(--transparent-text);
}

.mainContent__hourly > ul > li > img {
  width: 1.2em;
  margin: .5em;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* scrollbar hide: https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */

/* --- */

/* additional information */

.mainContent__additional {
  background: var(--transparent-white);
  border-radius: 1em;
  padding: 1em;
}

.mainContent__additional__sunrise {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mainContent__additional > ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  text-align: left;
  line-height: .5em;
}

.mainContent__additional > ul > li {
  flex: 1 0 50%;
  /* https://www.codegrepper.com/code-examples/html/flexbox+limit+items+per+row */
}

.mainContent__additional > ul > li > p:first-of-type {
  color: var(--transparent-text);
  font-size: .8em;
}

.mainContent__additional > ul > li > p:last-of-type {
  font-weight: 700;
}

.sunAnim {
  width: 100%;
  height: 100%;
}

/* --- */

/* Air quality index */

.mainContent__aqi{
  background: var(--transparent-white);
  border-radius: 1em;
}

.mainContent__aqi > ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 1em;
  text-align: left;
}

.mainContent__aqi > ul > li:nth-of-type(1) > h2{
  color: var(--transparent-text);
  font-size: .8em;
}

.mainContent__aqi > ul > li:nth-of-type(1) > p {
  line-height: .5em;
  padding-left: 1em;
  font-weight: 700;
  position: relative;
}

.mainContent__aqi > ul > li:nth-of-type(1) > p::before {
  content: "";
  position: absolute;
  background: var(--cloud-white);
  width: .7em;
  height: .7em;
  left: 0;
  top: -.2em;
}

.mainContent__aqi > ul > li:nth-of-type(2) {
  margin-bottom: .7em;
}

.mainContent__aqi > ul > li:nth-of-type(2) > a {
  color: var(--text-color);
  text-decoration: none;
  font-size: .8em;
  position: relative;
  padding-right: 1em;
}

.mainContent__aqi > ul > li:nth-of-type(2) > a::after {
  content: "";
  position: absolute;
  width: .7em;
  height: .7em;
  top: .2em;
  right: .2em;
  transform: rotate(45deg);
  border-top: 1px solid var(--cloud-white);
  border-right: 1px solid var(--cloud-white);
}

/* --- */

/* footer */

footer {
  margin: 1em;
  display: flex;
  justify-content: center;
}

footer > p {
  margin: 0;
  color: var(--transparent-text);
  font-size: .8em;
}

footer > a {
  text-decoration: none;
  color: var(--cloud-white);
  padding-left: 1em;
  font-size: .9em;
  font-weight: 700;
  position: relative;
}

footer > a::before {
  content: "";
  background: var(--cloud-white);
  position: absolute;
  width: .7em;
  height: .7em;
  left: .2em;
}

/* --- */


/* 5-day forecast page */

.forecast__page {

  --text-color: black;
  --transparent-grey: rgba(165, 165, 165, 0.1);
  --text-color-grey: rgba(128, 128, 128);
  --text-color-blue: rgba(141, 147, 171);

  --light-grey: rgba(197, 197, 197);
  --lighter-grey: rgba(226, 226, 226);
  
  background: var(--cloud-white);
  color: var(--text-color);
}



/* --- */

.forecast__temps{
  height: 100px;
  width: 100%;
  background: red;
}

/* forecast svg styling */
.st0{fill:none;stroke:#E2E1E0;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st1{font-family:sans-serif;}
.st2{font-size:18px;}
.st3{fill:#FFFFFF;}
.st4{fill:#C8C6C6;}
/* --- */