/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}


:root {
  --text-color: #FFFF;

  --weather-clear: #3C82D7;

  --sun-yellow: #FFDD00;
  --cloud-white: #FFFF;
  --transparent-white: rgba(255, 255, 255, 0.5);
}

body{
  background: var(--weather-clear);
  color: var(--text-color);

  font-family: sans-serif;

  margin: 0;
  padding: 0;
}

main {
  margin: 3%;
}

/* nav */

header {
  margin: 0 10%;
}

header > nav > ul {
  display: flex;
  justify-content: space-between;

  list-style-type: none;
  padding: 0;
}

/* plus icoontje met before after tags */

header > nav > ul > li:nth-of-type(1) a::before{
  content: "";
  background: var(--cloud-white);
  width: 2px;
  height: 15px;
  position: absolute;
}

header > nav > ul > li:nth-of-type(1) a::after{
  content: "";
  background: var(--cloud-white);
  width: 2px;
  height: 15px;
  position: absolute;
  transform: rotate(90deg);
}

/* --- */

/* three dots menu icon */

header > nav > ul > li:nth-of-type(3) a{
  background: var(--cloud-white);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: relative;
  display: flex;
}

header > nav > ul > li:nth-of-type(3) a::before{
  content: "";
  background: var(--cloud-white);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top:15px;
}

header > nav > ul > li:nth-of-type(3) a::after{
  content: "";
  background: var(--cloud-white);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
}

/* --- */

/* temperature, cloudiness, AQI */

main > section:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main > section:nth-of-type(1) > h1{
  font-size: 8em;
  font-weight: 100;
  margin: 1em 0 0 0;
  position: relative;
}

/* celcius icon */

main > section:nth-of-type(1) > h1::after{
  content: "";
  position: absolute;
  top: 25px;

  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid var(--text-color);
}

main > section:nth-of-type(1) > h1::before{
  content: "C";
  position: absolute;
  top: 25px;
  font-size: 20px;
  font-weight: 700;
  right: -27px;
}

main > section:nth-of-type(1) > p {
  font-size: 1.2em;
  margin: 0;
}

main > section:nth-of-type(1) > a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.8em;
  margin-top: 1em;
  background: var(--transparent-white);
  padding: 0.5em 1em 0.5em 2em;
  border-radius: 500px;
  position: relative;
}

main > section:nth-of-type(1) > a::before {
  content: "";
  background: var(--cloud-white);
  position: absolute;
  width: 10px;
  height: 10px;
  left: 7px;
}

/* --- */

