/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}


:root {
  --text-color: #FFFF;

  --weather-clear: #3C82D7;

  --sun-yellow: #FFDD00;
  --cloud-white: #FFFF;
}

body{
  background: var(--weather-clear);
  color: var(--text-color);

  font-family: sans-serif;

  margin: 0;
  padding: 0;
}

main {
  margin: 3%;
}

/* nav */

header > nav > ul {
  display: flex;
  justify-content: space-between;

  list-style-type: none;
}

/* plus icoontje met before after tags */

header > nav > ul > li:nth-of-type(1) a::before{
  content: "";
  background: var(--cloud-white);
  width: 2px;
  height: 15px;
  position: absolute;
}

header > nav > ul > li:nth-of-type(1) a::after{
  content: "";
  background: var(--cloud-white);
  width: 2px;
  height: 15px;
  position: absolute;
  transform: rotate(90deg);
}

/* --- */

header > nav > ul > li:nth-of-type(3) a{
  background: var(--cloud-white);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;

}

header > nav > ul > li:nth-of-type(3) a::before{
  content: "";
  background: var(--cloud-white);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  margin-left: -10px;
  top: 30px;
}

header > nav > ul > li:nth-of-type(3) a::after{
  content: "";
  background: var(--cloud-white);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  margin-left: -10px;
  top: 5px;
}